{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
